<div class="container-fluid main">
   <form class="form-horizontal" role="form">
      <div class="form-group">
         <label for="category" class="control-label col-sm-3">Category</label>
         <div class="col-sm-9">
            <input type="text" id="category" class="form-control" ng-model="category.name" placeholder="Category" autofocus="">
         </div>
      </div>
      <button type="button" class="btn btn-primary pull-right" ng-click="Ctrl.save(category)">Save</button>
   </form>
</div> 
