<div class="container-fluid">
   <div class="row">
     <div class="col-sm-3 col-md-2 sidebar">
       <form class="filter">
         <input type="text" class="form-control" placeholder="Filter..." ng-model="search">
       </form>
       <h4>Categories</h4>
       <ul class="nav nav-sidebar">
          <li ng-repeat="category in categories"><a href="#{{category.id}}">{{category.name}}</a></li>
       </ul>
      <div class="version">Keyring version: <span app-version></span></div>
     </div>
     <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

       <div class="category" ng-repeat="category in categories | orderBy: 'name'">
          <a name="category.id"/>
          <h2 class="sub-header">{{category.name}}</h2>
          <div class="table-responsive">
            <table class="table table-striped table-bordered entries">
              <thead>
                <tr>
                  <th id="name">Name</th>
                  <th id="url">URL</th>
                  <th id="user">User</th>
                  <th id="password">Password</th>
                  <th id="email">Email</th>
                  <th id="notes">Notes</th>
                  <th id="actions"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="entry in Ctrl.entriesByCategory(category) | filter: search | orderBy: 'name'">
                   <td>{{entry.name}}</td>
                   <td>{{entry.url}}</td>
                   <td>{{entry.clearUser}}</td>
                   <td reveal data="entry.clearPassword"></td>
                   <td>{{entry.email}}</td>
                   <td>{{entry.notes}}</td>
                   <td>
                      <span ng-show="masterPassword" class="glyphicon glyphicon-pencil pull-left" aria-hidden="true" ng-click="Ctrl.editEntry(entry)"></span>
                      <span ng-show="masterPassword" class="glyphicon glyphicon-trash pull-left" aria-hidden="true" ng-click="Ctrl.deleteEntry(entry)"></span>
                   </td>
                </tr>
              </tbody>
            </table>
          </div>
       </div>
     </div>
   </div>
</div> 
