<div class="container-fluid">
   <div class="row">
     <div class="col-sm-3 col-md-2 sidebar">
       <ul class="nav nav-sidebar">
          <li ng-repeat="category in categories"><a href="#/category/{{category.id}}">{{category.name}}</a></li>
       </ul>
     </div>
     <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
       <!--<h1 class="page-header">Dashboard</h1>-->

       <div class="category" ng-repeat="category in categories">
          <h2 class="sub-header">{{category.name}}</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>URL</th>
                  <th>User</th>
                  <th>Password</th>
                  <th>Email</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="entry in Ctrl.entriesByCategory(category)">
                   <td>{{entry.name}}</td>
                   <td>{{entry.url}}</td>
                   <td>{{entry.user}}</td>
                   <td ng-class="{danger: reveal}" ng-mouseover="reveal = true" ng-mouseout="reveal = false">
                      <span ng-show="!reveal">***</span>
                      <span ng-show="reveal">{{entry.clearPassword}}</span>
                      <span ng-show="masterPassword" ng-class="{'glyphicon-eye-open': reveal, 'glyphicon-eye-close disabled': !reveal}" class="glyphicon pull-right" aria-hidden="true"></span>
                   </td>
                   <td>{{entry.email}}</td>
                   <td>{{entry.notes}}</td>
                </tr>
              </tbody>
            </table>
          </div>
       </div>
     </div>
   </div>
</div> 
