<div class="container-fluid main">
   <form name="masterForm" class="form-horizontal" role="form" novalidate>
      <div class="form-group" ng-class="{'has-error': masterForm.password.$invalid}">
         <label for="password" class="control-label col-sm-3">Master password</label>
         <div class="col-sm-9">
            <input type="password" id="password" name="password" class="form-control" ng-model="masterPassword" ng-keypress="Ctrl.accept($event)" placeholder="Password" autofocus="" required>
         </div>
      </div>
      <button type="button" class="btn btn-primary pull-right" ng-click="Ctrl.accept()" ng-disabled="masterForm.$invalid">Accept</button>
      <button type="button" class="btn btn-default pull-right" ng-click="Ctrl.cancel()">Cancel</button>
   </form>
</div> 
