<div class="container-fluid main">
   <form class="form-horizontal" role="form">
      <div class="form-group">
         <label for="password" class="control-label col-sm-3">Master password</label>
         <div class="col-sm-9">
            <input type="password" id="password" class="form-control" ng-model="masterPassword" ng-keypress="Ctrl.accept($event)" placeholder="Password" autofocus="">
         </div>
      </div>
      <button type="button" class="btn btn-primary pull-right" ng-click="Ctrl.accept()">Accept</button>
      <button type="button" class="btn btn-default pull-right" ng-click="Ctrl.cancel()">Cancel</button>
   </form>
</div> 
