extends layout

block content
  h1 KeyRing Login

  .provider#google
    a(href='/auth/google') Access with a Google account

  .provider#yahoo 
    a(href='/auth/yahoo') Access with a Yahoo account

  .provider#facebook
    a(href='/auth/facebook') Access with a Facebook account

  .provider#twitter
    a(href='/auth/twitter') Access with a Twitter account
